rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // PUBLIC content (portfolio, CV, blog): anyone reads, only you write
    match /public/{document=**} {
      allow read: if true;
      allow write: if request.auth != null
                   && request.auth.uid == "Lm1lDi6wjRfPVbd6SfxfFZfa6RC3";
    }

    // PRIVATE content (tasks, later your calendar): only you
    match /private/{document=**} {
      allow read, write: if request.auth != null
                         && request.auth.uid == "Lm1lDi6wjRfPVbd6SfxfFZfa6RC3";
    }
  }
}
